{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="">
    <title>Online Images</title>

    <link rel="canonical" href="">



    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


  </head>
  <body>

<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">A propos</h4>
          <p class="text-muted">Ajoutez ci-dessous des informations sur l'album, l'auteur ou tout autre contexte d'arrière-plan. Faites-en quelques phrases pour que les gens puissent ramasser quelques informations. Ensuite, reliez-les à certains sites de réseaux sociaux ou à des informations de contact.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Suivre sur Twitter</a></li>
            <li><a href="#" class="text-white">Aimez sur Facebook</a></li>
            <li><a href="#" class="text-white">Envoyez moi un email</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Home</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">

        <h1 class="fw-light">{{category.title}}</h1>

      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% if images|length > 0 %}
        {% for image in images %}
        <div class="col">
          <div class="card shadow-sm">

            <img src="{{image.landImage.url}}" alt="{{image.altText}}">

            <div class="card-body">
              <p class="card-text">{{image.shortDescription}} . . . <a href="{% url 'image-detail' slug1=category.slug slug2=image.slug %}">plus</a></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'image-detail' slug1=category.slug slug2=image.slug %}"><button type="button" class="btn btn-sm btn-outline-secondary">Details de l'image</button></a>
                </div>
                <small class="text-muted">{{image.date_created|date}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h2>Aucune image est téléchargée pour cette catégorie</h2>
        {% endif %}

      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p>From <a href="https://skolo.online">Aissata Online</a>.</p>
  </div>
</footer>


    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>


  </body>
</html>