{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Aissata&Assa">
    <meta name="generator" content="Image Website">
    <title>Images</title>

    <link rel="canonical" href="#">



    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/blog.css' %}" rel="stylesheet">


  </head>
  <body>

<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="#"></a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">Galerie d'images</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="link-secondary" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>

      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">

      {% for category in categories %}
      <a class="p-2 link-secondary" href="{% url 'image-category' category.slug %}">{{category.title}}</a>
      {% endfor %}

    </nav>
  </div>
</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Référentiel d'images en ligne, photos d'actualités parfaites sur Online images</h1>
      <p class="lead my-3">Pour tous vos besoins d'images, disponibles dans les dimensions suivantes : Carré (1000X1000),
      Paysage (2878X1618) et Grand (1618X2878). Images idéales pour la publication sur les réseaux sociaux</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continuez à lire...</a></p>
    </div>
  </div>

</main>

<footer class="blog-footer">
  <p> From <a href="https://skolo.online">Aissata Online</a>.</p>
</footer>



  </body>
</html>